{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evenement list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Image</th>
                <th>Idusers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in evenement %}
            <tr>
                <td><a href="{{ path('evenement_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{% if event.date %}{{ event.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.lieu }}</td>
                <td>{{ event.image }}</td>
                <td>{{ event.idUsers }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('evenement_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('evenement_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evenement_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
